:root {
    --bg: #050505;
    --green: #00ff9c;
    --border: rgba(0, 255, 156, 0.2);
}

* {
    box-sizing: border-box;
    transition: width 0.35s ease,
        max-width 0.35s ease,
        margin 0.35s ease,
        margin-left 0.35s ease,
        margin-right 0.35s ease,
        padding 0.35s ease,
        gap 0.35s ease,
        font-size 0.35s ease,
        opacity 0.35s ease;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--green);
    font-family: 'Share Tech Mono', monospace;
    overflow-x: hidden;
    position: relative;
    font-size: clamp(0.85rem, 1.2vw, 1rem)
}

body.resizing * {
    transition: none;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background: rgba(0,0,0,1);
    border-bottom: 1px solid var(--border);
}

.logo {
    letter-spacing: 2px;
}

.logo a {
    text-decoration: none;
    color: var(--green);
}

.nav-status {
    opacity: 0.7;
    font-size: 0.85rem;
}

/* LIVE BANNER */
.live-banner {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--border);
    background-color: rgba(0,0,0,1);
    padding: 6px 0;
    position: fixed;
    z-index: 9;
}

#ticker {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: scroll 450s linear infinite;
    font-size: 0.85rem;
    opacity: 0.8;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
